// app global css in Sass form

.maxwidth
  max-width: 1600px
  margin: auto

.outline
  border-style: solid
  border-width: 1px
  border-color: #ddd
  border-radius: 16px

.radius16
  border-radius: 16px

.mw500
  max-width: 500px!important

.darkblue
  color: #331B69

.bold700
  font-weight: 700

.bold500
  font-weight: 500

.h1
  font-size: 80px
  line-height: 80px

  @media screen and (max-width: 601px)
    font-size: 6vw
    line-height: 6vw

.h2
  font-size: 48px
  line-height: 48px

  @media screen and (max-width: 601px)
    font-size: 4vw
    line-height: 4vw

.h3
  font-size: 36px
  line-height: 36px

  @media screen and (max-width: 601px)
    font-size: 3vw
    line-height: 3vw
